 
 html, body{
    height: 100%;
    /* margin:0; */
 }

 body {
    background-image:url("/images/istockphoto-1190043570-2048x2048.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
#container {
    display: flex;
    width: 100%;
    justify-content: space-between;  
    margin-top: 0;  
    padding: 20px;
}

#leftSide, #rightSide {
    width: 45%
  }
#rightSide {
    padding: 10px;
    /* background-color: blueviolet; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    
}
#rightside, h3{
    color: white;
    font-size: 30px;
    margin-top: 0;
    
}
.input{
    margin: 10px 30px;
    width: 250px;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.input:focus{
    border-color: blueviolet;
    /* box-shadow: 0 0 10px rgba(76, 175, 80, 0.5); */
}

#rsvpBtn{
    width: 275px;
    height: 90px;
    padding: 10px 10px 100px ;
    outline: none;
    background-color: rgb(249, 17, 17);
    cursor: pointer;
    border-radius: 100px;
    margin-top: 45px ;
    font-size: 70px;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    main {
        text-align: center;
        padding: 10px 0;
        background-color: rgba(59, 5, 52, 0.2);
    }
    
    #intro h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
        color: rgb(224, 196, 215);
    }
    
    #intro p {
        font-size: 1.2em;
        color: #d35d5d;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }